.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    height: 5000px;
    border: 1px solid #000;
    position: relative;
}

/*! Шапка сайта ------------------------------------------------------*/

.header_logo {
    position: relative;
    height: 53px;
    width: 245px;
    top: 79px;
    left: 455px;
    z-index: 100;
}

.header_fon {
    position: absolute;
    height: 875px;
    top: 0px;
    left: 0px;
}

.header_bac {
    max-width: 100%;
    height: 875px;
    object-fit: cover;
}

.camera {
    position: absolute;
    height: 493px;
    left: 1067px;
    top: -43px;
    max-width: 100%;
}

H2 {
    height: 150px;
    width: 600px;
    left: 455px;
    top: 200px;
    z-index: 60;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.color_text {
    color: #F9ED37;
    font-weight: 600;
}

.header_button {
    height: 60px;
    width: 245px;
    left: 455px;
    top: 390px;
    border-color: #F9ED37;
    position: absolute;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
}

.header_button:hover {
    background: #FCF6A0;
}

.header_button:focus {
    background: #FCC02A;
}

.head_ico_1 {
    position: absolute;
    height: 122px;
    width: 176px;
    left: 455px;
    top: 514px;
}

.head_ico_1 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
}

.head_ico_1 p {
    position: absolute;
    width: 175px;
    height: 44px;
    left: calc(50% - 175px/2 - 0.5px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_2 {
    position: absolute;
    width: 176px;
    height: 122px;
    left: 733px;
    top: 514px;
}

.head_ico_2 p {
    position: absolute;
    width: 119px;
    height: 44px;
    left: calc(50% - 119px/2 - 0.5px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_2 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
}

.head_ico_3 {
    position: absolute;
    width: 176px;
    height: 122px;
    left: 1011px;
    top: 514px;
}

.head_ico_3 p {
    position: absolute;
    width: 132px;
    height: 44px;
    left: calc(50% - 132px/2 - 1px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_3 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
    border-radius: 0px;
}

.head_ico_4 {
    position: absolute;
    width: 176px;
    height: 122px;
    left: 1289px;
    top: 514px;
}

.head_ico_4 p {
    position: absolute;
    width: 176px;
    height: 44px;
    left: calc(50% - 176px/2 - 1px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_4 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
    border-radius: 0px;

}

.vline {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 68px;
    left: 682px;
    top: 541px;
    border-radius: 1px;
}

.vline1 {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 68px;
    left: 960px;
    top: 541px;
    border-radius: 1px;
}

.vline2 {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 68px;
    left: 1238px;
    top: 541px;
    border-radius: 1px;
}

.scroll {
    position: absolute;
    width: 30px;
    height: 47px;
    left: 945px;
    top: 700px;
    border: 2px solid #ffffff;
    border-radius: 31px;
}

.scroll span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid transparent;
    border-radius: 3px;
    display: block;
    height: 7px;
    margin: 6px auto;
    width: 2px;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* !Конец шапки сайта -----------------------------------------------------------*/

/* !Раздел услуги ---------------------------------------------------------------*/

.usl {
    position: absolute;
    width: 650px;
    height: 93px;
    left: 685px;
    top: 939px;
}

.u {
    position: absolute;
    left: 40%;
    right: 33.83%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #32323B;
    text-align: justify;
}

.pred {
    position: relative;
    width: 600px;
    left: 12.36%;
    right: 12.36%;
    top: 54.84%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D1D20;
    text-align: justify;
}

.cam {
    position: absolute;
    height: 296px;
    width: 296px;
    left: 353px;
    top: 1122px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.cam img {
    position: relative;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_cam {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.cam:hover {
    background: #35D5C3;
    border-radius: 4px;
}

.cam p {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 74%;
    bottom: 10%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.cam:hover .block {
    display: block;
}

.skud {
    position: absolute;
    width: 296px;
    height: 296px;
    left: 659px;
    top: 1122px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.skud img {
    position: relative;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_skud {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.skud:hover {
    background: #35D5C3;
    border-radius: 4px;
}

.skud p {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 74%;
    bottom: 3.4%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.skud:hover .block {
    display: block;
}

.shlak {
    position: absolute;
    width: 296px;
    height: 296px;
    left: 965px;
    top: 1122px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.shlak img {
    position: relative;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_shlak {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.shlak:hover {
    background: #35D5C3;
    border-radius: 4px;
}

.shlak p {
    position: absolute;
    left: 2.03%;
    right: 2.03%;
    top: 74.32%;
    bottom: 2.03%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.shlak:hover .block {
    display: block;
}

.sks {
    position: absolute;
    width: 296px;
    height: 296px;
    left: 1271px;
    top: 1122px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.sks img {
    position: absolute;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_sks {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.block {
    background: #35D5C3;
    position: absolute;
    height: 348px;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    display: none;
}

.sks:hover .block {
    display: block;
}

.sks p {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 74%;
    bottom: 4%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

/* ! Конец раздела услуги--------------------------------------------- */

/* ! Начало блока Этапы работы---------------------------------------- */

.heading {
    position: absolute;
    width: 650px;
    height: 93px;
    left: 659px;
    top: 1508px;
}

.heading p {
    position: absolute;
    left: 33.81%;
    right: 33.83%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.heading h3 {
    position: absolute;
    left: 12.36%;
    right: 12.36%;
    top: 54.84%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.chel {
    position: absolute;
    width: 505px;
    height: 412px;
    left: 353px;
    right: 1062px;
    top: 1831px;
}

.steps {
    position: absolute;
    top: 1690px;
    width: 602px;
    height: 441px;
    left: 965px;
}

.steps_button {
    position: relative;
    height: 60px;
    width: 245px;
    left: calc(50% - 245px/2 - 111.5px);
    border-color: #F9ED37;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
}

.steps_button:hover {
    background: #FCF6A0;
}

.steps_button:focus {
    background: #FCC02A;
}

.one p {
    position: absolute;
    top: 95%;
    width: 535px;
    height: 20px;
    left: 67px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.two p {
    position: absolute;
    top: 51.11%;
    width: 535px;
    height: 20px;
    left: 67px;
    margin-top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.three p {
    position: absolute;
    top: 51.11%;
    width: 535px;
    height: 20px;
    left: 67px;
    margin-top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.four p {
    position: absolute;
    top: 51.11%;
    width: 535px;
    height: 20px;
    left: 67px;
    margin-top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.one {
    position: relative;
    width: 67px;
    height: 57px;
    left: 0%;
    right: 57.89%;
    top: -10.29%;
    bottom: -11%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.two {
    width: 67px;
    height: 57px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 1%;
    bottom: -11%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.three {
    width: 67px;
    height: 57px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 12%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.four {
    width: 67px;
    height: 57px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 22%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.two h4 {
    position: absolute;
    width: 535px;
    height: 36px;
    left: 67px;
    top: -12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
}

.three h4 {
    position: absolute;
    width: 535px;
    height: 36px;
    left: 67px;
    top: -12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
}

.four h4 {
    position: absolute;
    width: 535px;
    height: 36px;
    left: 67px;
    top: -12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
}

/* ! Конец блока Этапы работы----------------------------------------- */

/* ! Блок История *-----------------------------------------------------*/

.fon_history {
  position: absolute;
  width: 1920px;
  height: 1245px;
  left: 0px;
  top: 2132px;
}

.history_head {
    position: absolute;
    width: 550px;
    height: 93px;
    left: 685px;
    top: 2422px;
}

.history_head p {
    position: absolute;
    left: 40.17%;
    right: 40.19%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.history_head h3 {
    position: absolute;
    left: 14%;
    right: 13.82%;
    top: 54.84%;
    bottom: 0%;
    width: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.content {
    position: absolute;
    width: 1010px;
    height: 194px;
    left: 455px;
    top: 2590px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
}

.point {
    position: absolute;
    width: 576px;
    height: 232px;
    left: 128px;
    top: 150px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 220%;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

ul li:before {
    color: #F9ED37;
    /* UTF-8 escape sequence, соответствующая символу "Маркер списка" */
    content: "\2022";
    /* Делаем больше, чем основной текст в li */
    font-size: 45px;
    font-weight: 700;
    /* Элемент вырван из потока, выравниваем отрицательным отступом */
    left: -43px;
    line-height: 30px;
    position: absolute;
}

.content_bottom p {
    position: absolute;
    width: 1010px;
    height: 68px;
    left: 0px;
    top: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
}

/* ! Конец блока История ----------------------------------------------*/

/* ! Блок Клиенты -----------------------------------------------------*/

.customers_head {
    position: absolute;
    width: 550px;
    height: 93px;
    left: 685px;
    top: 3442px;
    border: 1px solid red;
}

.customers_head p {
    position: absolute;
    left: 39.81%;
    right: 39.83%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
    border: 1px solid red;
}

.customers_head h3 {
    position: absolute;
    left: 27.82%;
    right: 27.64%;
    top: 54.84%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
    border: 1px solid red;
}

.customers_logo {
    position: absolute;
    width: 1009px;
    height: 166px;
    left: 455px;
    top: 3625px;
    border: 1px solid red;
}

/* ! Конец блока Клиенты ----------------------------------------------*/

/* ! Блок Отзывы ----------------------------------------------------- */

.reviews {
    position: absolute;
    width: 550px;
    height: 93px;
    left: 685px;
    top: 3881px;
    border: 1px solid red;
}

.reviews p {
    position: absolute;
    left: 41.08%;
    right: 40.92%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
    border: 1px solid red;
}

.reviews h3 {
    position: absolute;
    left: 25.27%;
    right: 25.09%;
    top: 54.84%;
    bottom: 0%;
    width: 300px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
    border: 1px solid red;
}

.kav {
    position: absolute;
    width: 38px;
    height: 32px;
    left: 191px;
    top: 40px;
    opacity: 0.9;
}

/* ! Слайдер */

.carousel-wrapper {
    position: absolute;
    height: 410px;
    left: 353px;
    right: 353px;
    top: 4064px;
    margin: 0 auto;
    border: 1px solid red;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light {
    color: #2E363E;
}

@media (max-width: 480px) {

    .arrow,
    .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-size: cover;
}

.item-2 {
    background-size: cover;
}

.item-3 {
    background-size: cover;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}

/* ! Конец слайдера */


/* ! Конец блока Отзывы ---------------------------------------------- */