html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position: absolute;
}

/*! Шапка сайта ------------------------------------------------------*/

.header_logo {
    position: absolute;
    height: 53px;
    width: 245px;
    top: 79px;
    left: 455px;
    z-index: 100;
}

.header_fon {
    position: absolute;
    height: 875px;
    top: 0px;
    left: 0px;
    width: 1920px;
}

.header_bac {
    max-width: 1920px;
    height: 875px;
    object-fit: cover;
}

.camera {
    position: absolute;
    height: 493px;
    left: 1067px;
    top: -43px;
    max-width: 100%;
}

H2 {
    height: 150px;
    width: 600px;
    left: 455px;
    top: 200px;
    z-index: 60;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.color_text {
    color: #F9ED37;
    font-weight: 600;
}

.header_button {
    height: 60px;
    width: 245px;
    left: 455px;
    top: 390px;
    border-color: #F9ED37;
    position: absolute;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
}

.header_button:hover {
    background: #FCF6A0;
}

.header_button:focus {
    background: #FCC02A;
}

.head_ico_1 {
    position: absolute;
    height: 122px;
    width: 176px;
    left: 455px;
    top: 514px;
}

.head_ico_1 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
}

.head_ico_1 p {
    position: absolute;
    width: 175px;
    height: 44px;
    left: calc(50% - 175px/2 - 0.5px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_2 {
    position: absolute;
    width: 176px;
    height: 122px;
    left: 733px;
    top: 514px;
}

.head_ico_2 p {
    position: absolute;
    width: 119px;
    height: 44px;
    left: calc(50% - 119px/2 - 0.5px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_2 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
}

.head_ico_3 {
    position: absolute;
    width: 176px;
    height: 122px;
    left: 1011px;
    top: 514px;
}

.head_ico_3 p {
    position: absolute;
    width: 132px;
    height: 44px;
    left: calc(50% - 132px/2 - 1px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_3 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
    border-radius: 0px;
}

.head_ico_4 {
    position: absolute;
    width: 176px;
    height: 122px;
    left: 1289px;
    top: 514px;
}

.head_ico_4 p {
    position: absolute;
    width: 176px;
    height: 44px;
    left: calc(50% - 176px/2 - 1px);
    top: calc(50% - 44px/2 + 39px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.head_ico_4 img {
    position: absolute;
    height: 68px;
    width: 68px;
    left: 53px;
    top: 0px;
    border-radius: 0px;
}

.vline {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 68px;
    left: 682px;
    top: 541px;
    border-radius: 1px;
}

.vline1 {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 68px;
    left: 960px;
    top: 541px;
    border-radius: 1px;
}

.vline2 {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 68px;
    left: 1238px;
    top: 541px;
    border-radius: 1px;
}

.scroll {
    position: absolute;
    width: 30px;
    height: 47px;
    left: 945px;
    top: 700px;
    border: 2px solid #ffffff;
    border-radius: 31px;
}

.scroll span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid transparent;
    border-radius: 3px;
    display: block;
    height: 7px;
    margin: 6px auto;
    width: 2px;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* !Конец шапки сайта -----------------------------------------------------------*/

/* !Раздел услуги ---------------------------------------------------------------*/

.usl {
    position: absolute;
    width: 650px;
    height: 93px;
    left: 685px;
    top: 939px;
}

.u {
    position: absolute;
    left: 232px;
    right: 232px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #32323B;
    text-align: justify;
}

.pred {
    position: relative;
    width: 600px;
    top: 54.84%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D1D20;
    text-align: justify;
}

.cam {
    position: absolute;
    height: 296px;
    width: 296px;
    left: 353px;
    top: 1122px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.cam img {
    position: relative;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_cam {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.cam:hover {
    background: #35D5C3;
    border-radius: 4px;
}

.cam p {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 74%;
    bottom: 10%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.cam:hover .block {
    display: block;
}





/* .spoiler-body h1 {
    position: absolute;
width: 1010px;
height: 31px;
left: 135px;
top: 1500px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 130%;
text-align: center;
color: #1D1D20;
text-align: center;
border: 1px solid red;
} */

.cam_block h1 {
    position: absolute;
    width: 1010px;
    height: 31px;
    left: 135px;
    top: 966px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
    border: 1px solid red;
}






#press {
    display: none;
}

.block1 {
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    position: static;
    width: 806px;
    height: 1305px;
    left: 237px;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
    top: 300px;
    border: 1px solid red;
}

.block1 h1 {
    position: static;
    width: 725px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #35D5C3;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 20px;
}

.block1 p {
    position: static;
    width: 766px;
    height: 331px;
    left: 20px;
    top: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1D1D20;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
    text-align: left;
}

.spoiler>.block1 {
    display: none;
    position: absolute;
}

.spoiler>input:checked+.block1 {
    display: block;
}

/* label {
    color: blue;
    font-size: 1.5em;
} */

label:hover {
    cursor: pointer;
    text-decoration: underline;
}













.skud {
    position: absolute;
    width: 296px;
    height: 296px;
    left: 659px;
    top: 1122px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.skud img {
    position: relative;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_skud {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.skud:hover {
    background: #35D5C3;
    border-radius: 4px;
}

.skud p {
    position: absolute;
    left: 7%;
    right: 7%;
    top: 74%;
    bottom: 3.4%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.skud:hover .block {
    display: block;
}

.shlak {
    position: absolute;
    width: 296px;
    height: 296px;
    left: 965px;
    top: 1122px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.shlak img {
    position: relative;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_shlak {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.shlak:hover {
    background: #35D5C3;
    border-radius: 4px;
}

.shlak p {
    position: absolute;
    left: 2.03%;
    right: 2.03%;
    top: 74.32%;
    bottom: 2.03%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.shlak:hover .block {
    display: block;
}

.sks {
    position: absolute;
    width: 296px;
    height: 296px;
    left: 1271px;
    top: 1122px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.sks img {
    position: absolute;
    height: 122px;
    width: 122px;
    left: 87px;
    top: 48px;
    z-index: 20;
}

.krug_sks {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2);
    top: calc(50% - 108px/2 - 39px);
    background: #35D5C3;
    border-radius: 50%;
}

.block {
    background: #35D5C3;
    position: absolute;
    height: 348px;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    display: none;
}

.sks:hover .block {
    display: block;
}

.sks p {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 74%;
    bottom: 4%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

/* ! Конец раздела услуги--------------------------------------------- */

/* ! Начало блока Этапы работы---------------------------------------- */

.heading {
    position: absolute;
    width: 650px;
    height: 93px;
    left: 659px;
    top: 1508px;
}

.heading p {
    position: absolute;
    left: 33.81%;
    right: 33.83%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.heading h3 {
    position: absolute;
    left: 12.36%;
    right: 12.36%;
    top: 54.84%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.chel {
    position: absolute;
    width: 505px;
    height: 412px;
    left: 353px;
    right: 1062px;
    top: 1831px;
}

.steps {
    position: absolute;
    top: 1690px;
    width: 602px;
    height: 441px;
    left: 965px;
}

.steps_button {
    position: relative;
    height: 60px;
    width: 245px;
    left: calc(50% - 245px/2 - 111.5px);
    border-color: #F9ED37;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
}

.steps_button:hover {
    background: #FCF6A0;
}

.steps_button:focus {
    background: #FCC02A;
}

.one p {
    position: absolute;
    top: 95%;
    width: 535px;
    height: 20px;
    left: 67px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.block8 {
    z-index: 100;
    margin-top: 1000px;
}

.two p {
    position: absolute;
    top: 51.11%;
    width: 535px;
    height: 20px;
    left: 67px;
    margin-top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.three p {
    position: absolute;
    top: 51.11%;
    width: 535px;
    height: 20px;
    left: 67px;
    margin-top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.four p {
    position: absolute;
    top: 51.11%;
    width: 535px;
    height: 20px;
    left: 67px;
    margin-top: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.one {
    position: relative;
    width: 67px;
    height: 57px;
    left: 0%;
    right: 57.89%;
    top: -10.29%;
    bottom: -11%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.two {
    width: 67px;
    height: 57px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 1%;
    bottom: -11%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.three {
    width: 67px;
    height: 57px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 12%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.four {
    width: 67px;
    height: 57px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 22%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35D5C3;
}

.two h4 {
    position: absolute;
    width: 535px;
    height: 36px;
    left: 67px;
    top: -12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
}

.three h4 {
    position: absolute;
    width: 535px;
    height: 36px;
    left: 67px;
    top: -12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
}

.four h4 {
    position: absolute;
    width: 535px;
    height: 36px;
    left: 67px;
    top: -12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
}

/* ! Конец блока Этапы работы----------------------------------------- */

/* ! Блок История *-----------------------------------------------------*/

.fon_history {
    position: absolute;
    width: 1920px;
    height: 1245px;
    left: 0px;
    top: 2132px;
}

.history_head {
    position: absolute;
    width: 550px;
    height: 93px;
    left: 685px;
    top: 2422px;
}

.history_head p {
    position: absolute;
    left: 40.17%;
    right: 40.19%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.history_head h3 {
    position: absolute;
    left: 14%;
    right: 13.82%;
    top: 54.84%;
    bottom: 0%;
    width: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.content {
    position: absolute;
    width: 1010px;
    height: 194px;
    left: 455px;
    top: 2590px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
}

.point {
    position: absolute;
    width: 576px;
    height: 232px;
    left: 128px;
    top: 150px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 220%;
    color: #FFFFFF;
}

.point ul {
    list-style-type: none;
}

.point ul li:before {
    color: #F9ED37;
    /* UTF-8 escape sequence, соответствующая символу "Маркер списка" */
    content: "\2022";
    /* Делаем больше, чем основной текст в li */
    font-size: 45px;
    font-weight: 700;
    /* Элемент вырван из потока, выравниваем отрицательным отступом */
    left: -43px;
    line-height: 30px;
    position: absolute;
}

.content_bottom p {
    position: absolute;
    width: 1010px;
    height: 68px;
    left: 0px;
    top: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
}

/* ! Конец блока История ----------------------------------------------*/

/* ! Блок Клиенты -----------------------------------------------------*/

.customers_head {
    position: absolute;
    width: 550px;
    height: 93px;
    left: 685px;
    top: 3442px;
}

.customers_head p {
    position: absolute;
    left: 39.81%;
    right: 39.83%;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.customers_head h3 {
    position: absolute;
    left: 27.82%;
    right: 27.64%;
    top: 54.84%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.customers_logo {
    position: absolute;
    width: 1195px;
    height: 164px;
    left: 362px;
    top: 3625px;
}

.churilovo {
    position: static;
    width: 231px;
    height: 77px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    filter: grayscale(1);
}

.churilovo:hover {
    filter: grayscale(0);
}

.martin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 241px;
    top: 0px;
    filter: grayscale(1);
}

.martin:hover {
    filter: grayscale(0);
}

.gora {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 482px;
    top: 0px;
    filter: grayscale(1);
}

.gora:hover {
    filter: grayscale(0);
}

.lotos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 723px;
    top: 0px;
    filter: grayscale(1);
}

.lotos:hover {
    filter: grayscale(0);
}

.esk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 964px;
    top: 0px;
    filter: grayscale(1);
}

.esk:hover {
    filter: grayscale(0);
}

.str {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 0px;
    top: 87px;
    filter: grayscale(1);
}

.str:hover {
    filter: grayscale(0);
}

.zl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 241px;
    top: 87px;
    filter: grayscale(1);
}

.zl:hover {
    filter: grayscale(0);
}

.drsu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 482px;
    top: 87px;
    filter: grayscale(1);
}

.drsu:hover {
    filter: grayscale(0);
}

.ukk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 723px;
    top: 87px;
    filter: grayscale(1);
}

.ukk:hover {
    filter: grayscale(0);
}

.gagarin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 231px;
    height: 77px;
    left: 964px;
    top: 87px;
    filter: grayscale(1);
}

.gagarin:hover {
    filter: grayscale(0);
}

/* ! Конец блока Клиенты ----------------------------------------------*/

/* ! Блок Отзывы ----------------------------------------------------- */

.reviews {
    position: absolute;
    width: 550px;
    height: 93px;
    left: 685px;
    top: 3881px;
}

.reviews p {
    position: absolute;
    left: 225px;
    right: 225px;
    top: 0%;
    bottom: 66.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.reviews h3 {
    position: absolute;
    left: 138px;
    right: 138px;
    top: 54.84%;
    bottom: 0%;
    width: 300px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.kav {
    position: absolute;
    width: 38px;
    height: 32px;
    left: 191px;
    top: 40px;
    opacity: 0.9;
}

/* ! Слайдер -----------------------------------------------------------*/

.carousel-wrapper {
    position: absolute;
    height: 410px;
    left: 366px;
    top: 4064px;
    margin: 0 auto;
    width: 1188px;
}

.carousel-item h2 {
    position: absolute;
    width: 704px;
    height: 32px;
    left: 191px;
    top: 92px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #2E363E;
}

.carousel-item p {
    position: absolute;
    width: 807px;
    height: 178px;
    left: 191px;
    top: 164px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 1160px;
    top: 171px;
    background: #1D1D20;
    border-radius: 100px;
}

.arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.st-left,
.st-right {
    width: 21px;
    height: 21px;
    transition: .5s;
    box-shadow: -2px 2px 0 #fff;
}

.st-left {
    position: absolute;
    left: 60.61%;
    right: 22.73%;
    top: 33.33%;
    bottom: 34.85%;
}

.st-right {
    position: absolute;
    left: 39.39%;
    right: 4%;
    top: 33%;
    bottom: 34.85%;
}

.st-left {
    transform: rotate(-90deg);
}

.st-right {
    transform: rotate(-90deg);
}

.arrow-left {
    transform: rotate(-135deg);
}

.light {
    color: #fff;
}

@media (max-width: 480px) {

    .arrow,
    .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-size: cover;
}

.item-2 {
    background-size: cover;
}

.item-3 {
    background-size: cover;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}

/* ! Конец слайдера --------------------------------------------------*/


/* ! Конец блока Отзывы ----------------------------------------------*/


.chel_vopr {
    position: absolute;
    width: 513px;
    height: 662px;
    left: 403px;
    top: 4825px;
}

/* ! Блок Прогресс --------------------------------------------------- */

.progress_2007 {
    position: absolute;
    width: 194px;
    height: 166px;
    left: 557px;
    top: 4564px;
}

.krug_2007 {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2 + 9px);
    top: calc(50% - 108px/2 - 29px);
    background: #35D5C3;
    border-radius: 50%;
}

.progress_2007 h1 {
    position: absolute;
    width: 108px;
    height: 55px;
    left: calc(50% - 108px/2);
    top: calc(50% - 55px/2 - 0.5px);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.progress_2007 p {
    position: absolute;
    width: 133px;
    height: 44px;
    left: calc(50% - 133px/2 + 0.5px);
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.progress_900 {
    position: absolute;
    width: 194px;
    height: 166px;
    left: 863px;
    top: 4564px;
}

.krug_900 {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2 + 9px);
    top: calc(50% - 108px/2 - 29px);
    background: #35D5C3;
    border-radius: 50%;
}

.progress_900 h1 {
    position: absolute;
    width: 110px;
    height: 55px;
    left: calc(50% - 110px/2);
    top: calc(50% - 55px/2 - 0.5px);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.progress_900 p {
    position: absolute;
    width: 133px;
    height: 44px;
    left: calc(50% - 133px/2 + 0.5px);
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

.progress_100 {
    position: absolute;
    width: 194px;
    height: 166px;
    left: 1169px;
    top: 4564px;
}

.krug_100 {
    position: absolute;
    width: 108px;
    height: 108px;
    left: calc(50% - 108px/2 + 9px);
    top: calc(50% - 108px/2 - 29px);
    background: #35D5C3;
    border-radius: 50%;
}

.progress_100 h1 {
    position: absolute;
    width: 111px;
    height: 55px;
    left: calc(50% - 111px/2 + 0.5px);
    top: calc(50% - 55px/2 - 0.5px);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.progress_100 p {
    position: absolute;
    width: 133px;
    height: 44px;
    left: calc(50% - 133px/2 + 0.5px);
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #32323B;
}

/* ! Конец блока Прогресс -------------------------------------------- */

/* ! Блок Обратная связь --------------------------------------------- */

.feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 500px;
    height: 529px;
    left: 965px;
    top: 4825px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.feedback h4 {
    position: absolute;
    width: 420px;
    height: 72px;
    left: calc(50% - 420px/2);
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.feedback h1 {
    position: absolute;
    width: 420px;
    height: 22px;
    left: calc(50% - 420px/2);
    top: 132px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.feedback p {
    position: absolute;
    width: 420px;
    height: 28px;
    left: 40px;
    top: 381px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
    color: #1D1D20;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.feedback span {
    color: #35D5C3;
}

.tel {
    position: absolute;
    width: 216px;
    height: 40px;
    left: 40px;
    top: 174px;
    background: #E5E5E5;
    border-radius: 4px;
    font-family: 'Montserrat';
    padding: 0px 20px 0px 20px;
}

.tel::placeholder {
    position: absolute;
    height: 27px;
    right: 224px;
    top: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    display: flex;
    color: #C4C4C4;
}

.tel:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

textarea {
    position: absolute;
    width: 77%;
    height: 20%;
    left: calc(50% - 420px/2);
    top: 234px;
    background: #E5E5E5;
    border-radius: 4px;
    resize: none;
}

textarea::placeholder {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #C4C4C4;
}

textarea[type="message"] {
    padding: 10px 20px;
}

textarea:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.feedback_button {
    height: 60px;
    width: 245px;
    left: 40px;
    top: 429px;
    border-color: #F9ED37;
    position: absolute;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
    cursor: pointer;
}

.feedback_button:hover {
    background: #FCF6A0;
}

.feedback_button:focus {
    background: #FCC02A;
}

/* ! Конец блока Обратная связь -------------------------------------- */

/* ! Блок Футер ------------------------------------------------------ */

.footer {
    position: absolute;
    width: 1920px;
    height: 568px;
    left: 0px;
    top: 5312px;
}

.footer_logo {
    position: absolute;
    left: 455px;
    right: 66.2%;
    top: 260px;
    bottom: 267px;
    height: 42px;
    width: 194px;
}

.footer_menu {
    position: absolute;
    width: 56px;
    height: 146px;
    left: 761px;
    top: 260px;
}

.footer_menu h1 {
    width: 54px;
    height: 22px;
    left: 0px;
    top: 260px;
    bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.footer_menu a {
    text-decoration: none;
}

.footer_menu a {
    position: static;
    width: 56px;
    height: 94px;
    left: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    list-style: none;
    line-height: 25px;
}

.footer_contacts {
    position: absolute;
    width: 140px;
    height: 177px;
    left: 203px;
    top: 0px;
    bottom: 131px;
}

.footer_contacts h1 {
    position: static;
    width: 85px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_contacts li {
    position: static;
    width: 140px;
    left: 0px;
    top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    width: 194px;
    height: 38px;
    left: 1271px;
    bottom: 270px;
    border: 1px solid #F9ED37;
    box-sizing: border-box;
    border-radius: 4px;
    top: calc(50% - 18px/2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_button:hover {
    background: #F9ED37;
}

.copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 167px;
    height: 13px;
    left: 353px;
    top: 503px;
}

.copy p {
    position: static;
    width: 32px;
    height: 13px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.copy span {
    position: static;
    width: 115px;
    height: 13px;
    left: 52px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 10px;
}

.vline3 {
    border-left: 2px solid #35D5C3;
    height: 70px;
    position: absolute;
    width: 0px;
    height: 13px;
    left: 52px;
    top: 0px;
    border-radius: 1px;
}

.politika {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 345px;
    height: 13px;
    left: 353px;
    top: 536px;
}

.politika a {
    position: static;
    width: 308px;
    height: 13px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    text-decoration: none;
}

.polit h1 {
    position: absolute;
    height: 62px;
    width: 602px;
    left: 659px;
    top: 939px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #1D1D20;
}

.polit span {
    position: absolute;
    width: 1010px;
    left: 455px;
    top: 1091px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    color: #1D1D20;
}

.polit a {
    text-decoration: none;
    color: #35D5C3;
}

/* ! Конец блока футер ----------------------------------------------- */

.modal {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 500px;
    height: 529px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10001;
    opacity: 0;
    background: #FFFFFF;
}



.modal h4 {
    position: absolute;
    width: 420px;
    height: 72px;
    left: 40px;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.modal h1 {
    position: absolute;
    width: 420px;
    height: 22px;
    left: 40px;
    top: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    color: #32323B;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.modal p {
    position: absolute;
    width: 420px;
    height: 28px;
    left: 40px;
    top: 381px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
    color: #1D1D20;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.modal span {
    color: #35D5C3;
}

.tel_request {
    position: absolute;
    width: 216px;
    height: 40px;
    left: 40px;
    top: 148px;
    background: #E5E5E5;
    border-radius: 4px;
    font-family: 'Montserrat';
    padding: 0px 20px 0px 20px;
}

.tel_request::placeholder {
    position: absolute;
    height: 27px;
    right: 224px;
    top: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    display: flex;
    color: #C4C4C4;
}

.tel_request:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.message_request {
    position: absolute;
    width: 76%;
    height: 127px;
    left: 40px;
    top: 207px;
    background: #E5E5E5;
    border-radius: 4px;
    resize: none;
}

textarea::placeholder {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #C4C4C4;
}

textarea[type="message"] {
    padding: 10px 20px;
}

textarea:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.button_request {
    height: 60px;
    width: 245px;
    left: 40px;
    top: 429px;
    border-color: #F9ED37;
    position: absolute;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
    cursor: pointer;
}

.button_request:hover {
    background: #FCF6A0;
}

.button_request:focus {
    background: #FCC02A;
}

.close {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 422px;
    top: 38px;
    cursor: pointer;
}

/** стили фона затемнения */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    position: fixed;
    /* фиксированное позиционирование */
    /* трансформация прозрачности при открытии  */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

/** стили модального блока */

.overlay:target+.modal {
    top: 25%;
    visibility: visible;
    opacity: 1;
}

/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .modal {
        width: 95%;
    }
}

/* мобильный */
@media only screen and (min-width: 459px) and (max-width: 767px) {
    .modal {
        width: 85%;
    }
}

/* ! Конец формы Оставить заявку */

/* ! Форма Отзыв */

.modal2 {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 500px;
    height: 771px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10001;
    opacity: 0;
    background: #FFFFFF;
}

.modal2 h4 {
    position: absolute;
    width: 420px;
    height: 72px;
    left: 40px;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #1D1D20;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.modal2 p {
    position: absolute;
    width: 420px;
    height: 28px;
    left: 40px;
    top: 521px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
    color: #1D1D20;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.modal2 span {
    color: #35D5C3;
}

.name {
    position: absolute;
    width: 76%;
    height: 40px;
    left: 40px;
    top: 116px;
    background: #E5E5E5;
    border-radius: 4px;
    font-family: 'Montserrat';
    padding: 0px 20px 0px 20px;
}

.name::placeholder {
    position: absolute;
    height: 27px;
    right: 224px;
    top: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    display: flex;
    color: #C4C4C4;
}

.name:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.tel_feed {
    position: absolute;
    width: 76%;
    height: 40px;
    left: 40px;
    top: 175px;
    background: #E5E5E5;
    border-radius: 4px;
    font-family: 'Montserrat';
    padding: 0px 20px 0px 20px;
}

.tel_feed::placeholder {
    position: absolute;
    height: 27px;
    right: 224px;
    top: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    display: flex;
    color: #C4C4C4;
}

.tel_feed:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.mail {
    position: absolute;
    width: 76%;
    height: 40px;
    left: 40px;
    top: 234px;
    background: #E5E5E5;
    border-radius: 4px;
    font-family: 'Montserrat';
    padding: 0px 20px 0px 20px;
}

.mail::placeholder {
    position: absolute;
    height: 27px;
    right: 224px;
    top: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    display: flex;
    color: #C4C4C4;
}

.mail:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.message_feed {
    position: absolute;
    width: 76%;
    height: 24%;
    left: 40px;
    top: 293px;
    background: #E5E5E5;
    border-radius: 4px;
    resize: none;
}

.message_feed::placeholder {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #C4C4C4;
}

.message_feed[type="message"] {
    padding: 10px 20px;
}

.message_feed:focus {
    border: 1px solid #35D5C3;
    margin: -1px;
}

.button_feed {
    height: 60px;
    width: 245px;
    left: 40px;
    top: 671px;
    border-color: #F9ED37;
    position: absolute;
    text-decoration: none;
    background: #F9ED37;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
    cursor: pointer;
}

.button_feed:hover {
    background: #FCF6A0;
}

.button_feed:focus {
    background: #FCC02A;
}

.close {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 422px;
    top: 38px;
    cursor: pointer;
}

/** стили фона затемнения */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    visibility: hidden;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    position: fixed;
    /* фиксированное позиционирование */
    /* трансформация прозрачности при открытии  */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

/** стили модального блока */

.overlay:target+.modal2 {
    top: 25%;
    visibility: visible;
    opacity: 1;
}

/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .modal2 {
        width: 95%;
    }
}

/* мобильный */
@media only screen and (min-width: 459px) and (max-width: 767px) {
    .modal2 {
        width: 85%;
    }
}

/* ! Конец формы Отзыв */